$primary: #cd5360;
$primary-dark: #972036;

.search-div {
  min-height: 100vh;
  margin: 30px;
}

.title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  color: $primary-dark;
}

.default-filters {
  margin-bottom: 20px;
}

.default-filters > div, .more-filters > div {
  padding-left: 15px;
  padding-right: 15px;
}

.default-filters, .more-filters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-row-gap: 20px;
  div {
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      margin-bottom: 10px;
    }
  }
}

.select-bar {
  width: 100%;
  .ant-select-selection__placeholder {
    color: rgba(0, 0, 0, 0.65);
  }
}

.focused {
  .ant-select-selection__placeholder {
    color: rgba(191, 191, 191, 1);
  }
}

.search-button {
  &:hover {
    background: $primary;
    color: white;
    border-color: $primary;
  }
  margin-top: 30px;
}

.submit-search {
  margin-left: 20px;
  
}

.results-number {
  margin-left: 20px;
}

.search-results-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.search-page-fade-appear {
  opacity: 0.01;
}

.search-page-fade-appear.search-page-fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.search-results-fade-enter {
  opacity: 0.01;
}

.search-results-fade-enter.search-results-fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.search-results-fade-leave {
  opacity: 1;
}

.search-results-fade-leave.search-results-fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}