$primary: #cd5360;
$primary-dark: #972036;

.search-div {
  background: rgba(205, 83, 96, 0.05);
  min-height: 100vh;
  padding: 30px;
}

.title {
  margin-bottom: 30px;
  span{
    color: $primary-dark;
    font-size: 30px;
  }
}

.default-filters {
  margin-bottom: 20px;
}

.default-filters > div, .more-filters > div {
  padding-left: 15px;
  padding-right: 15px;
}

.default-filters, .more-filters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-row-gap: 20px;
  div {
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      margin-bottom: 10px;
    }
  }
}

.select-bar {
  width: 100%;
  .ant-select-selection__placeholder {
    color: rgba(0, 0, 0, 0.65);
  }
}

.focused {
  .ant-select-selection__placeholder {
    color: rgba(191, 191, 191, 1);
  }
}

.search-button {
  background: $primary;
  color: white;
  border-color: $primary;
  margin-top: 30px;
  &:hover {
    border-color: white;
    background: $primary-dark;
  }
}

.submit-search {
  margin-left: 20px;
  
}

.results-number {
  margin-left: 20px;
}

.search-results-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.fade-appear-appear {
  opacity: 0.01;
}

.fade-appear-appear.fade-appear-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-enter-enter {
  opacity: 0.01;
}

.fade-enter-enter.fade-enter-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-enter-leave {
  opacity: 1;
}

.fade-enter-leave.fade-enter-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}