@import '~antd/dist/antd.css';
$primary: #cd5360;
$primary-dark: #972036;

#app {
  height: 100%;
  font-size: 18px;
}

.splash > img {
  width: 100%;
  max-height: 100%;
}

.splash-items {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splash-item {
  text-align: center;
  color: white;
  background: transparent;
}

.company-name {
  font-size: 70px;
}

.adopt-button {
  margin-top: 10px;
  font-size: 30px;
  padding: 6px 15px;
  border: 3px solid $primary;
  border-radius: 50px;
    &:hover {
      border-color: $primary-dark;
      cursor: pointer;
      color: #e0e0e0;
      transition-duration: .25s;
    }
    &:focus, &:active {
      outline: none;
    }
}

.down-icon {
  font-size: 24px;
}

.nav-bar {
  height: 85px;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  background: $primary;
  color: white;
  border-bottom: 4px solid $primary-dark;
}

.logo-div > img {
  margin-left: 20px;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  font-size: 20px;  
  color: white;
    &:hover {
      color: $primary-dark;
      cursor: pointer;     
    }
    &:active, &:visited, &:link, &:hover {
      text-decoration: none;
    }
}

.user-button {
  background-color: $primary-dark;
  border-color: $primary-dark;
  &:hover, &:active, &:focus {
    background-color: $primary-dark;
    border: 1px solid white;
  }
}

.content-divs:nth-child(odd) {
  background: white;
  color: $primary-dark;  
}

.content-divs:nth-child(even) {
  background: rgba($primary, 0.2);
  color: $primary-dark;
}

.content-divs {
  padding: 3%;
  min-height: 500px;
}

.loader {
  color: $primary;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  font-size: 80px;
}

img {
  width: 454px;
}

.footer {
  background: $primary;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
}
